.personalCart {
    font-family: "IBM Plex Sans", sans-serif;
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 35px;
    }
    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 31px;
        color: #001042;
    }
    &__clear {
        width: auto;
    }
    &__in {
        display: flex;
    }
    &__items {
        width: calc(100% - 340px);
    }
    &__item {
        display: flex;
        align-items: flex-start;
        border: 1px solid #CBCFD9;
        padding: 20px;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    &__item-image {
        width: 200px;
        height: 200px;
        margin-right: 25px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
    &__item-info {
        flex: 1 1 auto;
    }
    &__item-name {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 31px;
        margin-bottom: 35px;
        color: #001042;
    }
    &__item-params {
        max-width: 300px;
    }
    &__item-param {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        .title {
            font-weight: bold;
        }
    }
    &__item-buttons-bottom {
        display: flex;
        align-items: center;
    }
    &__item-quantity {
        display: flex;
        align-items: center;
        margin-right: 20px;
        border: 1px solid #CBCFD9;
        border-radius: 4px;
        input {
            border: none;
            padding: 0;
            text-align: center;
            max-width: 100px;
        }
    }
    &__item-quantity-button {
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 25px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #001042;
        cursor: pointer;
        user-select: none;
        &:hover {
            background: #CBCFD9;
        }
    }
    &__item-buttons-price {
        text-align: right;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 31px;
        margin-bottom: 35px;
        color: #001042;
    }
    &__delim {
        height: 1px;
        background: #CBCFD9;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    &__total {
        width: 300px;
        margin-left: 40px;
        position: relative;
    }
    &__total_in {
        border: 1px solid #CBCFD9;
        padding: 20px;
        box-sizing: border-box;
        position: sticky;
        top: 80px;
    }
    &__total-title {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 31px;
        margin-bottom: 35px;
        color: #001042;
    }
    &__total-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        color: #001042;
        .title {
            font-weight: bold;
        }
        .title--big {
            font-size: 28px;
        }
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
    &__total-items {
        margin-bottom: 25px;
    }
    &__order {
        box-sizing: border-box;
    }
}