@import 'gfonts';


body,
html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

.delimiter {
    border-color: #E1E1E1;
    background-color: #E1E1E1;
    color: #E1E1E1;
    margin-top: 50px;
    margin-bottom: 50px;
}