<form action="#" class="personalForm" id="personalForm@@type">
    <div class="personalForm__in">
        <div class="personalForm__top">
            <div class="personalForm__name">@@title</div>
            @@if (is_collapsable) {
                <div class="personalForm__opener">
                    <div class="text"></div>
                    <div class="arrow"></div>
                </div>
            }
        </div>
        <div class="personalForm__fields@@if(is_collapsable){ personalForm__fields--collapsable}">
            <div class="personalForm__fields-in@@if(has_row){ personalForm__fields--row}">
                @@for (var i = 0; i < fields.length; i++) {
                    <div class="personalForm__field">
                        <div class="personalForm__field-left">
                            `+ fields[i].title +`
                            `+(fields[i].is_required ? '<span>*</span>' : '')+`
                        </div>
                        <div class="personalForm__field-right">

                            `+(fields[i].type == "text" ?`
                                <input type="`+ fields[i].type +`" placeholder="`+ fields[i].placeholder +`">
                            ` : ``)+`

                            `+(fields[i].type == "number" ?`
                                <input type="`+ fields[i].type +`" min="1" value="100">
                            ` : ``)+`

                            `+(fields[i].type == "textarea" ?`
                                <textarea placeholder="`+ fields[i].placeholder +`"></textarea>
                            ` : ``)+`


                            `+(fields[i].type == "select" ?`
                                <select>
                                    <option value="test">test</option>
                                    <option value="test2">test2</option>
                                    <option value="test3">test3</option>
                                    <option value="test4">test4</option>
                                    <option value="test5">test5</option>
                                </select>
                            ` : ``)+`
                            
                        </div>
                        `+(fields[i].type == "number" ?`
                            <div class="personalForm__field-glyph `+fields[i].glyph_class+`">
                                `+ fields[i].placeholder +`
                            </div>
                        ` : ``)+`
                    </div>
                }
                <div class="personalForm__field">
                    @@if (type != 2) {
                        <div class="personalForm__field-left"></div>
                    }
                    <div class="personalForm__field-right">
                        <button class="personalForm__button">@@button_text</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>