.personalTabs {
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 60px;
    padding-right: 167px;
    &__left {
        display: flex;
    }
    &__right {
        display: flex;
        align-items: center;
        align-self: stretch;
    }
    &__item {
        position: relative;
        padding: 15px 0;
        text-decoration: none;
        &:not(:last-child) {
            margin-right: 50px;
        }
        .text {
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 36px;
            color: #001042;
        }
        &.isActive {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: -3px;
                height: 5px;
                background: #001042;
            }
            .text {
                font-weight: 700;
            }
        }
        .counter {
            position: absolute;
            left: calc(100% + 5px);
            top: 10px;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 20px;
            color: #000000;
            padding: 3px 9px;
            border-radius: 50%;
            background: #F8D830;
        }
    }
    &__notify {
        display: flex;
        align-items: center;
        .text {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #001042;
            .enabled {
                color: #2CC513;
            }
            .disabled {
                color: #C51313;
            }
        }
        .icon {
            width: 21px;
            font-size: 0;
            margin-left: 14px;
            position: relative;
        }
        .icon__disabled {
            position: absolute;
            width: 38px;
            height: 2px;
            background: #CBCFD9;
            transform-origin: 50% 50%;
            transform: rotate(-45deg) translate(-14px, 0);
            border: 2px solid #fff;
        }
    }
    &__cart {
        margin-right: 45px;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
    }
    &__cart-in {
        position: relative;
        cursor: pointer;
        .icon {
            width: 25px;
            font-size: 0;
            position: relative;
        }
        .counter {
            position: absolute;
            left: 100%;
            top: -10px;
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            line-height: 15px;
            color: #000000;
            padding: 3px 8px;
            border-radius: 50px;
            background: #F8D830;
        }
    }
    &__cart-dropdown {
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 20;
        display: none;
        // height: 0;
    }
    &__cart-dropdown_in {
        background: #fff;
        border: 1px solid #E1E1E1;
        border-top: none;
        padding: 35px 35px 0;
        width: 320px;
    }
    &__cart-dropdown_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 35px;
    }
    &__cart-dropdown_title {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 31px;
        color: #001042;
    }
    &__cart-dropdown_closer {
        width: 60px;
        cursor: pointer;
        padding: 20px 20px 0 20px;
        margin-top: -20px;
        margin-right: -20px;
        box-sizing: border-box;
    }
    &__cart-dropdown_item {
        padding: 5px 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        &:not(:last-child) {
            border-bottom: 1px solid #E1E1E1;
        }
        .table__button {
            margin-right: 0;
        }
    }
    &__cart-dropdown_item-left {
        flex: 1 1 auto;
        
        .name {
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 21px;
            color: #001042;
            margin-bottom: 5px;
        }
        .price {
            font-style: normal;
            font-size: 14px;
            line-height: 21px;
            color: #001042;
        }
    }
    &__cart-dropdown_buttons {
        display: flex;
        margin-left: -35px;
        margin-right: -35px;
        margin-top: 20px;
        border-top: 1px solid #E1E1E1;
    }
    &__cart-dropdown_button {
        text-align: center;
        padding: 20px;
        flex: 1 1 auto;
        display: block;
        text-decoration: none;
        color: #001042;
        transition: all .3s ease;
        &:first-child {
            border-right: 1px solid #E1E1E1;
        }
        &:hover {
            background: #E1E1E1;
            // color: #fff;
        }
    }
}