<div class="table table__js">
    <div class="table__title">@@title</div>
    @@include('../filtr/filtr.html', {
        loop_by: "files/table1.json",
        title: "Поставка заготовок"
    })
    <div class="table__in table__styled">
        <table width="100%" id="@@id" data-page-length='10'>
            <thead>
                <tr>
                    @@for (var i = 0; i < titles.length; i++) {
                        <th>`+titles[i]+`</th>
                    }
                </tr>
            </thead>
            <tbody>
                @@if (type == 1) {
                    <tr class="isVip">
                        <td data-prevent_edit>1</td>
                        <td>ID 1</td>
                        <td>Тула</td>
                        <td>Тип-1</td>
                        <td>Да</td>
                        <td>500</td>
                        <td>150</td>
                        <td>3-М</td>
                        <td>Плоские</td>
                        <td>Есть</td>
                        <td>Да</td>
                        <td>Давленный</td>
                        <td>Краснодар</td>
                        <td data-prevent_edit>
                            <button class="table__button">Выбрать</button>
                        </td>
                    </tr>
                    @@loop('../../components/table_tr/table_tr.html', "@@loop_by")
                }
                @@if (type == 2) {
                    @@loop('../../components/table_tr/table_tr2.html', "@@loop_by")
                }
                @@if (type == 3) {
                    @@loop('../../components/table_tr/table_tr3.html', "@@loop_by")
                }
                @@if (type == 4) {
                    @@loop('../../components/table_tr/table_tr4.html', "@@loop_by")
                }
            </tbody>
        </table>
    </div>
</div>
